body {
  background-color: #f8eeee;
}

/* hr {
  background-color: #f8eeee;
  border-color: gainsboro;
  border-style: dotted none none none;
  border-width: 10px;
  height: 2px;
  width: 85px;
} */

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
